/* google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;500;600;700&display=swap');


/* rooted color scheme for later */
:root {
    --color-body: rgb(213, 93, 8);
    --color-heading: rgb(4, 99, 74);
    --color-brand: green;
    --color-base: rgb(242, 142, 2);
    --color-base2: rgb(254, 226, 160);
    --color-brand: rgb(223, 104, 0);
    --color-brand2: grey;
    --sidbar-width: 240px;
    --font-base: "Bai Jamjuree";
}

body {
    background-color: var(--color-base2);
    color: black;
    font-family: var(--font-base), sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--color-heading);
    font-weight: 700;
}

a {
    text-decoration: none;
    color: var(--color-body);
    transition: all 0.4s ease;
}

a:hover {
    color: var(--color-brand);
}

img {
    width: 100%;
}

.bg-base {
    background-color: var(--color-base);
}

.text-brand {
    color: var(--color-brand);
}

.full-height {
    min-height: 100vh;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 80px;
    padding-bottom: 80px;
    border-bottom: 2px solid rgb(255, 255, 255, 0.1);
}

.shadow-effect {
    transition: all 0.5s;
}

.shadow-effect:hover {
    box-shadow: -3px 3px 0 0 var(--color-brand);
}

.iconbox {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    background-color: var(--color-heading);
    color: var(--color-base);
}

/* NAVBAR */
.navbar {
    background-color: var(--color-base);
}

.navbar .nav-link {
    font-weight: 700;
    text-transform: uppercase;
    color: var(--color-base2);
}

/* makes the navbar when you hover to change to color black from :root  */
.navbar .nav-link:hover {
    color: var(--color-brand)

} 

.navbar .nav-link.active {
color: var(--color-heading);
}

@media (min-width: 992px) {
    .navbar {
        min-height: 100vh;
        width: var(--sidbar-width);
        background: linear-gradient(rgba(9, 97, 71, 0.8), rgba(255, 166, 0, 0.8));  /*add url(imagelinkgoes); */
        background-size: cover;
        background-position: center;
    }

    .navbar-brand img {
        border: 8px solid black; 
        /* color around the photo */
    }
#content-wrapper {
    padding-left: var(--sidbar-width);

}
}
/* font-family: 'Bai Jamjuree', sans-serif; */

/* BUTTON */
.btn {
    padding: 12px 28px;
    font-weight: 700;
}

.btn-brand {
    background-color: var(--color-base);
    border-color: var(--color-brand);
}

.btn-brand:hover,
.btn-brand:focus {
    background-color: rgb(248, 153, 45);
    color: var(--color-heading);
    border-color: var(--color-brand2);

}

.link-custom {
    font-weight: 700;
    position: relative;
    color: var(--color-heading);
}

.link-custom::after {
    content: "";
    width: 0%;
    height: 2px;
    background-color: var(--color-brand2);
    position: absolute;
    left: 0;
    top: 110%;
    transition: all 0.4s;
}

.link-custom:hover::after {
    width: 100%;
}

/* //BUTTONS */

/* CARDS */

.card-custom .card-custom-image {
    overflow: hidden;
}

.card-custom .card-custom-image img {
    transition: all 0.4s ease;
}

.card-custom:hover .card-custom-image img {
    transform: scale(1.1);
}
