/* google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;500;600;700&display=swap');


/* rooted color scheme for later */
:root {
    --color-body: red;
    --color-heading: blue;
    --color-brand: green;
    --color-base: orange;
    --color-base2: pink;
    --color-brand: black;
    --color-brand2: grey;
    --sidbar-width: 240px;
    --font-base: "Bai Jamjuree";
}

body {
    background-color: var(--color-base2);
    color: var(--color-body);
    font-family: var(--font-base), sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--color-heading);
    font-weight: 700;
}

a {
    text-decoration: none;
    color: var(--color-body);
    transition: all 0.4s ease;
}

a:hover {
    color: var(--color-brand);
}

img {
    width: 100%;
}

.navbar .nav-link {
    font-weight: 700;
    text-transform: uppercase;
    color: beige;
}

/* makes the navbar when you hover to change to color black from :root  */
.navbar .nav-link:hover {
    color: var(--color-brand)

} 


/* NAVBAR */
@media (min-width: 992px) {
    .navbar {
        min-height: 100vh;
        width: var(--sidbar-width);
        background: linear-gradient(rgba(255, 166, 0, 0.9), rgba(255, 166, 0, 0.9));  /*add url(imagelinkgoes); */
        background-size: cover;
        background-position: center;
    }

    .navbar-brand img {
        border: 8px solid var(--color-brand); 
        /* color around the photo */
    }
}

/* font-family: 'Bai Jamjuree', sans-serif; */


